.rebuild
*/*
!*/Dockerfile
!*/.dockerignore
!*/aws
!heroku/heroku
!storj/storj
!ansible/ansible
!ansible-galaxy/ansible-galaxy
!ansible-playbook/ansible-playbook
!aws/aws
!docker-node-scratch/docker-node-scratch
!exercism/exercism
!go/go
!heroku/heroku
!jekyll/jekyll
!jq/jq
!kensa/kensa
!keybase/keybase
!kops/kops
!kube/kube
!kubectl/kubectl
!ls.txt/ls.txt
!node/node
!node-debug/node-debug
!np/np
!npm/npm
!pip/pip
!polyjuice/polyjuice
!README.md/README.md
!sqlite3/sqlite3
!storj/storj
!terraform/terraform
!testling/testling
!ws/ws
